* {

    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}



body {

    font-family: "Arial", sans-serif;
    font-size: 25;
    text-align: center;
    background-color: azure;
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 50px;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 50px;
        
 
    
}


.nav {
    background-color: coral;
    color: cornflowerblue;
    list-style: none;
    padding: 25 px 5px 25px 5px;
    
}


.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;

}

.nav > li > a {
    text-decoration: none;
    color: mediumblue;
    font-size: 2vw;
    text-align: center;
}

.nav > li > a:hover {
    color: white;
}


heading {
    font-size: 50;
    font-family: sans-serif;
   
        
    
}

.gallery {
    
    width: 100%;
    
        
}

img {
    
    max-width: 100%;
}

